.main-drag-container
  width: 90%
  height: 500px
  border: 1px solid #a0a0a0
  overflow: hidden
  margin: auto
  margin-top: 40px

// .widthWordsContainer
  // border: 1px solid #f00
  
.full-phrase 
  line-height: 24px