.main-drag-container, .main-drag-container-options
  width: 90%
  overflow: hidden
  margin: auto
  overflow-y: auto

.main-drag-container
  border: 1px solid #a0a0a0
  margin-top: 10px

.main-drag-container-options
  background-color: #deced3// #f69
  text-align: right
  position: relative

  button
    margin: 5px

  .opt-verses
    position: absolute
    top: 12px
    left: 14px

    input
      margin-right: 5px
      height: 16px

// .widthWordsContainer
  // border: 1px solid #f00
  
.full-phrase 
  line-height: 24px