<span cdkDrag
  cdkDragBoundary=".main-drag-container"
  [cdkDragFreeDragPosition]="dragPosition"
  [cdkDragConstrainPosition]="constrainPosition"
  [cdkDragData]="id"
  (cdkDragEnded)="fnDragEnded($event)"
  (cdkDragStarted)="fnDragStarted($event)"
  (cdkDragMoved)="fnDragMoved($event)"
  appWordWidth
  [wordWidthId]="id"
  id="{{parentLayoutId}}-{{id}}"
  class="drag-word mono-font"><span (mousedown)="fnOnMouseDown($event)">{{word}}</span><span *ngIf="isLastChild" (click)="removeNextGroup()" class="isLastChild"><mat-icon>backspace</mat-icon></span></span>