span.drag-word
  margin-right: 7px
  display: inline-block
  cursor: pointer
  font-size: 15px
  background-color: #f003
  height: 30px

span.isLastChild
  font-weight: bold
  font-size: 15px
  display: inline-block
  color: #f90
  cursor: pointer